<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <nav>
      <a class="homenav" href="/books"><button class="homenav">Library</button></a>
      <a class="homenav" href="/books/new"><button class="homenav">Add New Book</button></a>
      <a class="homenav" href="/books/filter"><button class="homenav">Filter Books</button></a>
    </nav>
    <h1>Bookworm</h1>
  </header>


</body>
</html>
