<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>Bookworm</h1>
    <nav>
      <a class="homenav" href="/books"><button class="homenav">Library</button></a>
      <a class="homenav" href="/books/filter"><button class="homenav">Filter Books</button></a>
    </nav>
  </header>

  <form action="new" method="POST">
    <p>
      <label for="title">Title</label>
      <input type="text" name="title">
    </p>
    <p>
      <label for="author">Author</label>
      <input type="text" name="author">
    </p>
    <p>
      <label for="year">Year</label>
      <input type="text" name="year">
    </p>
    <p>
      <label for="genre">Genre</label>
      <input type="text" name="genre">
    </p>
    <p>
      <label for="rating">Rating</label>
      <select id = "rating" name ="rating" value ="{{rating}}">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "4">5</option>
          </select>
    </p>
    <p>
      <label for="cover">Cover URL</label>
      <input type="text" name="cover">
    </p>
    <p>
      <label for="read">Read/Unread:</label>
      <input type="checkbox" name="read" value="true">
    </p>
    <input type="submit" value="Add Book">
  </form>
</body>
</html>
